@using DataCollector.Models
@model AskQuestionsViewModel

@{
    ViewBag.Title = "AskQuestions";
}

<h2>Answer Questions</h2>

<div id="mainDiv">

    <p><b>Item: </b>@Model.Item.Name</p>
    <p><b>Question: </b><span id="questionText">@Model.Questions[0].QuestionString</span></p>
    <button id="yesBtn">Yes</button>
    <button id="noBtn">No</button>
    <br />
    <button id="sometimesBtn">Sometimes</button>
    <br />
    <button id="doesNotApplyBtn">Does not apply</button>

</div>

<script>

    var itemName = '@Model.Item.Name';
    var itemId = parseInt(@Model.Item.Id);
    var questions = @Html.Raw(Json.Encode(Model.Questions));
    var questionIndex = 0;
    var question = questions[0].QuestionString;

</script>

<script src="~/Scripts/ask-questions.js"></script>